<div id="advancedcategories-pages-app">
	<div class="advancedcategories-pages">
		{{#az}}
		{{>AzIndex}}
		{{/az}}
		{{#pager}}
		{{>PagesPager}}
		{{/pager}}
		{{#grid}}
		{{>PagesGrid}}
		{{/grid}}
		{{#pager}}
		{{>PagesPager}}
		{{/pager}}
	</div>
</div>
